.Layout {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 85% 5%;
    
}

.Layout > header, .Layout > footer {
    grid-column: span 6;
}

.Layout > main {
    grid-column: span 5;
}

.Layout, .Layout > * {
    /* border: 1px solid rgb(250, 248, 248); */
}