.VacationView {


}
.des{
    font-size: 100;
    font-weight: bold;
}
h1{
    color: rgb(8, 70, 128);
}

h2{
    color: rgb(24, 119, 156);
}
.VacationView .view{
    font-size: 16px;
	width:286px;
    min-height:350px;
    background-color: lightgrey;
    display:inline-block;
    margin:10px;
    padding-top: 2px;
    border: 3px solid rgb(250, 248, 248);
    display: inline-flex;
    border-radius: 10px;
    flex-direction: column
    
    /* width: 300px;
    display: inline-flex;
    align-items: center;
    background-image: linear-gradient(45deg, lightgreen, white);
    padding-right: 0;
    padding-top: 15px; */

}


.follow {
    color:rgb(246, 250, 246);
    background-color: rgb(6, 84, 136);
}
.not-follow {
    color:rgb(22, 107, 22);
}