html, body #root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Arial, Helvetica, sans-serif; */
    margin:0;
    padding:0;
    height:100%;
    text-align: center;
     /* background-image: linear-gradient(45deg, rgb(8, 48, 158), rgb(4, 21, 95)) */
    /* background-image: linear-gradient(45deg, rgba(232, 235, 229, 0.582), rgb(107, 112, 110)) */
    background-image: url("http://localhost:4000/yang-wewe-UBe-M4bBxjw-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

